/*
 * Quickstart Application - Styles
 * Copyright 2011-2015, Cartalyst LLC
 *
 * We use the Material Design Lite project by Google. An implementation of Material
 * Design components in vanilla CSS, JS, and HTML. http://www.getmdl.io/
 *
 * You are not required to use this framework for your own implementations
 * of our quickstart applications, use whatever works best for you :)
 *
 */

// Framework
@import "../../../node_modules/foundation-sites/scss/foundation.scss";
//@import "quickstart_extras";

body {
    margin: 0;
    background-color: #fafafa;
    color: $grey-dark;
}

/* Disable ugly boxes around images in IE10 */
a img {
    border: 0;
}
h1,
h2,
h3,
h4,
h5 {
    color: #757575;
}
 ::-moz-selection {
    background-color: $amber;
    color: #fff;
}
 ::selection {
    background-color: $amber;
    color: #fff;
}

// Brands
.brand {
    &--drawer {
        height: 124px;
    }
    &--welcome-mobile {
        height: 124px;
    }
    &--welcome {
        height: 320px;
    }
}

// Header
.quickstart-header {
    background-color: $amber;
    color: #fff;
    overflow: visible;
    .mdl-menu__container {
        z-index: 50;
        margin: 0 !important;
    }
    .mdl-textfield--expandable {
        width: auto;
    }
    .material-icons {
        color: #fff !important;
    }
    .mdl-layout__drawer-button {
        background: transparent;
        color: #fff;
    }
    .quickstart-title__link {
        color: #fff;
        font-weight: 300;
        font-size: 1.5rem;
        text-decoration: none;
    }
    .mdl-navigation__link {
        color: #fff;
        font-weight: 700;
        font-size: 1rem;
    }
    .quickstart-navigation-container {

        /* Simple hack to make the overflow happen to the left instead... */
        direction: rtl;
        order: 1;
        width: 500px;
        transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }
    .quickstart-navigation {

        /* ... and now make sure the content is actually LTR */
        direction: ltr;
        justify-content: flex-end;
        width: 800px;
    }
    .quickstart-navigation .mdl-navigation__link {
        display: inline-block;
        height: 60px;
        line-height: 68px;
        background-color: transparent !important;
        border-bottom: 4px solid transparent;
    }
    .quickstart-navigation .mdl-navigation__link:hover {
        border-bottom: 4px solid #fff;
    }
    .quickstart-more-button {
        order: 2;
    }
}

// Sidebar (drawer)
.quickstart-sidebar {
    border-right: none;
    .sidebar-separator {
        height: 1px;
        background-color: #ddd;
        margin: 8px 0;
    }
    .mdl-navigation__link.mdl-navigation__link {
        font-size: 1rem;
        color: #757575;
    }
    span.mdl-navigation__link.mdl-navigation__link {
        color: #222;
        font-size: 1.2rem;
    }
    .mdl-layout-title {
        background: $amber;
        height: 172px;
        padding: 24px 8px;
        text-align: center;
    }
}

// Layouts
.page {
    &__header {
        height: 256px;
        padding: 16px 0;
        width: auto;
        background: $amber;
        overflow: hidden;

        &.welcome .container {
            height: 384px;
            position: relative;
        }
        &.examples .container {
            height: 256px;
            text-align: center;
            position: relative;
        }

        h1 {
            font-size: 3rem;
            font-weight: 200;
            color: #fff;
            margin:0 0 8px 0;

        }
        .tagline {
            font-size: 1.8rem;
            font-weight: 200;
            color: #fff;
            margin: 0;
        }

        .tutorial-link {
            position: absolute;
            right:16px;
            color: #fff;
            padding:8px 0;
            text-decoration: none;
            font-weight: 300;
            font-size: 1rem;
            border-bottom:2px solid transparent;
            &:hover {
                border-color:white;
            }
            i {
                display: inline-flex;
                vertical-align: middle;
                margin-bottom:4px;
            }
        }

        .preview {
            background: #f8f8f8;
            padding:0;
            position: absolute;
            padding:0;
            bottom:34px;
            left:0;
            right:0;
            display: none;


            .hljs {
                padding:4px;
                margin:4px;
            }

        }

        .mascot {
            text-align: center;
            img {
                margin: 0 auto;
                position: relative;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
            }
        }
    }
    &__showcase {
        position: relative;
        top: -48px;
        width: 100%;


    }
}

// Examples
.quickstart-card {
    background: #fff;
    width: 100%;
    margin-top: 32px;
    padding: 16px;
    > header {
        margin-bottom: 16px;
        h3 {
            margin: 8px 0;
        }
    }
    table {
        width: 100%;
    }
}
.quickstart-footer {
    margin-top: 64px;
    background-color: #fafafa;
    position: relative;
    a:hover {
        color: #8bc34a;
    }
    .mdl-mega-footer--top-section::after {
        border-bottom: none;
    }
    .mdl-mega-footer--middle-section::after {
        border-bottom: none;
    }
    .mdl-mega-footer--bottom-section {
        position: relative;
    }
    .mdl-mega-footer--bottom-section a {
        margin-right: 2em;
    }
    .mdl-mega-footer--right-section a .material-icons {
        position: relative;
        top: 6px;
    }
    .quickstart-link-menu:hover {
        cursor: pointer;
    }
}

// Sortable Elements
// .sortable {
//     cursor: pointer;
//     *cursor: hand;
//     position: relative;
//     &:before,
//     &:after {
//         font-size:1.2rem;
//         color:$blue-grey;
//         font-family: 'Material Icons';
//         content:"\e8d5";
//         visibility: hidden;
//         position: absolute;
//     }
//     &:first-child:hover:before,
//     &:hover:after {
//         visibility: visible;
//     }
//     &.asc:before {
//         content:"\e5c8";
//         -webkit-transform: rotate(-90deg);
//         transform: rotate(-90deg);
//         visibility: visible;
//     }
//     &.desc:before {
//         content:"\e5c8";
//         -webkit-transform: rotate(90deg);
//         transform: rotate(90deg);
//         visibility: visible;
//     }
// }
// Overide mdl-data-table
.mdl-data-table {
    width: 100%;
    th {
        font-size: 1rem;
        font-weight: 500;
        color: #9E9E9E;
        cursor: pointer;
        white-space: nowrap;
        position: relative;
        text-align: right;
        user-select: none;
        /* CSS3 (little to no support) */
        -ms-user-select: none;
        /* IE 10+ */
        -moz-user-select: none;
        /* Gecko (Firefox) */
        -webkit-user-select: none;
        /* Webkit (Safari, Chrome) */
        span {
            font-size: 0.8rem;
        }

        /* no pointer when disabled */
        &[disabled] {
            cursor: auto;
        }

        /* remove focus behaviour */
        &:focus {
            outline: none;
        }

        /* if sortable set sort direction and icons */
        &:before,
        &:after {
            font-family: 'Material Icons';
            content: "\e164";
            font-size: 1rem;
            color: lighten(#000, 60%);
            margin: 0 2px;
            padding: 2px 4px;
        }
        &:before {
            visibility: hidden;
            display: inline-block;
        }
        &:after {
            display: none;
        }
        &:first-of-type {
            text-align: left;
            &:before {
                display: none;
            }
            &:after {
                visibility: hidden;
                display: inline-block;
            }
        }
        &:hover {
            &:before {
                visibility: visible;
            }
        }
        &:hover:first-of-type {
            &:before {
                visibility: hidden;
            }
            &:after {
                visibility: visible;
            }
        }
        &.asc {
            &:first-of-type:before {
                visibility: hidden;
            }
            &:first-of-type:after {
                visibility: visible;
                content: "\e5cc";
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            }
            &:before {
                visibility: visible;
                content: "\e5cc";
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            }
            &:after {
                visibility: hidden;
            }
        }
        &.desc {
            &:first-of-type:before {
                visibility: hidden;
            }
            &:first-of-type:after {
                visibility: visible;
                content: "\e5cc";
                -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
            }
            &:before {
                visibility: visible;
                content: "\e5cc";
                -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
            }
            &:after {
                visibility: hidden;
            }
        }
    }
}
