// Demo Application - Extra Styles
// Copyright 2011-2017, Cartalyst LLC
//--------------------------------------
// 1. Global
// 2. Brand

// 1. Global Styles
// --------------
body {
    margin: 0;
    background-color: $alabaster;
    color: $dark-gray;
}
/* Disable ugly boxes around images in IE10 */
a img {
    border: 0;
}

h1,
h2,
h3,
h4,
h5 {
    color: $dark-gray;
}

::-moz-selection {
    background-color: $amber;
    color: $white;
}

::selection {
    background-color: $amber;
    color: $white;
}

blockquote {
    margin: 16px 0;
    position: relative;
    color: $dark-gray;
    font-style: italic;
    font-size: 2rem;
    padding: 32px 0;
    font-family: 'Roboto', serif;
    font-weight: 100;

    &:before {
        position: absolute;
        width: 20%;
        left: 0;
        top: 8px;
        border-top: 1px solid $light-gray;
        display: block;
        content: "";
        text-align: center;
    }

    &:after {
        display: none;
    }
}

// 2. Brand
// --------------
.brand {

    &--header {
        height: 48px;
        margin: 0 auto;
        display: inline-flex;
        @include breakpoint(medium) {
            height: 48px;
        }
    }

    &--footer {
        height: 72px;
        margin: 0 auto;
        @include breakpoint(medium) {
            height: 96px;
        }
    }

    &--welcome {
        height: 124px;
        margin: 0 auto;
        @include breakpoint(medium) {
            height: 320px;
        }
    }
}

// 3. Mascots
// --------------
.mascot {
   background-size: contain;
   background-position: center bottom;
   background-repeat: no-repeat;

   &--welcome {
       background-position: center top;
       background-size: 40%;

       @include breakpoint(medium) {
           background-position: 84% 16px;
           background-size: 40%;
       }
   }

   &--example {
       background-position: 80% 32px;
   }

   &--card {
       height: 256px;
       margin:1rem;
       background-position: 80% 32px;
   }

   &--brand {
       background-image: url("images/brand-cartalyst.svg");
   }

   &--Apricots {
       background-image: url("images/apricots.svg");
   }
   &--Crops {
       background-image: url("images/crops.svg");
   }
}



// 3. Article
// --------------
.article {

    &--welcome {
        margin-top:96px;
        padding:0 8px;
        text-align: center;

        @include breakpoint(medium) {
            text-align: left;
            padding:0 16px 0 0;
        }
    }
    header {
        padding: 16px;
        border-bottom:1px solid $medium-gray;
    }
    p {
        font-size: 1.6rem;
        line-height: 2.5rem;
        font-weight: 300;
    }
    blockquote p {
        font-size: 2rem;
    }
    ul {
        margin:0;
        padding:0;
        li {
            border-left: 8px solid $amber;
            padding:0 0 0 8px;
            margin:2px 0;
            font-size: 1.5rem;
            list-style-type: none;
            line-height: 42px;
            &:first-child {
                font-size: 1rem;
                color: $dark-gray;
                text-transform: uppercase;
            }
            a {
                font-weight: 300;
            }
        }
    }
    section {
        margin: 32px 0;
        border-bottom: 1px solid #ddd;
    }
    p {
        padding: 8px 0;
        font-size: 1.3rem;
        line-height: 2.2rem;
        font-weight: 300;
    }
    ol {
        counter-reset: li;
        margin-left: 0;
        padding-left: 0;
    }
    ol > li {
        position: relative;
        list-style: none;
        background: #fff;
        font-size: 1.1rem;
    }
    ol > li:before {
        content: counter(li);
        counter-increment: li;
        display: inline-block;
        width: 2em;
        padding: 10px 4px;
        margin-right: 16px;
        color: #757575;
        border-right: 4px solid $amber;
        border-bottom: 1px solid #ddd;
        background-color: #f5f5f5;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }
    li ol,
    li ul {
        margin-top: 6px;
    }
    ol ol li:last-child {
        margin-bottom: 0;
    }

    // Code Blocks
    .source_code {
        //border-top: 1px solid #ddd;
        position: relative;
        .source_code__header {
            background: #fff;
            padding: 1rem;
            margin: 0;
            font-weight: 400;
            border-bottom: 4px solid $amber;
        }
        .source_code__block {
            overflow-x:scroll;
            overflow: none;
            background: #f5f5f5;
            padding: 1rem;
            pre,
            code {
                margin: 0;
                font-size: 1.1rem;
            }
        }
        .source_code__actions {
            position: absolute;
            top: 8px;
            right: 16px;
        }
        .action__message {
            display: inline-block;
            padding: 0 8px;
            color: $amber;
            font-weight: 400;
        }
    }
}

// 4. Cards

.card {
    background-color: $white;
    @include box_shadow();
    height: 98%;

    &--example {
        .card-section {
            h4 {
                margin-top:-64px;
                .button {
                    width:80%;
                    margin:0 auto;
                }
            }
            p {
                padding:16px 0;
                font-weight: 400;
                i {
                    font-size:1rem;
                }
            }
        }
    }

    .card-section {

        img {
            height: 196px;
        }
        h4 {
            font-size:2rem;
        }
        text-align: center;
        p {
            color:$dark-gray;
            font-size:1.2rem;
        }
    }
}
