// Demo Application - Layouts
// Copyright 2011-2017, Cartalyst LLC
//--------------------------------------
//
// 1. Apricots
// 2. Crops
// 1. Apricots
// --------------

.apricots {
    width: 100%;

    .data-grid {
        background-color: $white;

        > header {
            @include grid-row;
            border-bottom: 1px solid $light-gray;

            h3 {
                @include grid-column(12);
                margin: 0;
                padding: 1rem 0;
                text-align: center;
                @include breakpoint(medium) {
                    text-align: left;
                    @include grid-column(6);
                }

                span {
                    display: block;
                    font-size: 1rem;
                }
            }

            nav {
                @include grid-column(12);
                @extend .expanded;
                @extend .button-group;
                @extend .align-bottom;
                margin: 0;
                padding: 1rem 0;
                @include breakpoint(medium) {
                     @include grid-column(6);
                }

                button {
                    @extend .secondary;
                    @extend .button;
                }
            }
        }

        [data-grid-layout="results"] {
            min-height: 480px;

            .row {
                @include grid-row;
                padding: 1rem;

                &:nth-of-type(even) {
                    background: $light-gray;
                }

                div {
                    @include grid-column(4);

                    &:last-child {
                        text-align: right;
                    }
                }
            }
        }

        [data-grid-layout="pagination"] {
            margin: 1rem;
            &:after {
                display: block;
                height: 4px;
                content:" ";
            }

            button {
                @extend .expanded;
                @extend .large;
                @extend .button;
            }
        }
    }
}
// 1. Crops
// --------------

.crops {
    width: 100%;

    .data-grid {
        background-color: $white;

        > header {
            @include flex-grid-row;
            @extend .align-middle;

            h3 {
                @include grid-column(12);
                margin: 0;
                padding: 2rem 0;
                text-align: center;
                @include breakpoint(medium) {
                    text-align: left;
                }

                span [data-grid-layout="count"] {
                    display: inline-block;
                }

                small {
                    display: block;
                    padding: 0.5rem 0;
                    font-size: 1rem;
                    color: $medium-gray;
                }
            }
        }

        > nav {
            @include flex-grid-row;
            @extend .align-bottom;
            border-bottom: 1px solid $medium-gray;

            .layout {
                @include grid-column(12);
                @extend .button-group;
                margin: 0;

                @include breakpoint(medium) {
                     @include grid-column(6);
                }

                button {
                    float: none;
                    display: inline-block;
                    cursor: pointer;
                    margin: 0 0 -1px;
                    padding: 0;
                    border: 1px solid $medium-gray;
                    border-left: 0;
                    padding: 1rem;
                    color: $dark-gray;
                    text-transform: uppercase;
                    display: block;
                    font-size: 1rem;
                    line-height: 1rem;
                    font-weight: 400;
                    border-bottom: 1px solid transparent;

                    i {
                        vertical-align: middle;
                    }

                    &:first-child {
                        border-left: 1px solid $medium-gray;
                    }

                    &:hover {
                        color: $amber;
                    }

                    &.is-active {
                        color: $amber;
                        border-bottom: 1px solid $white;
                    }
                }

                &__container {}
            }

            .search {
                @include grid-column(12);
                @extend .expanded;
                @include breakpoint(medium) {
                     @include grid-column(3);
                }
            }

            .filters {
                @include grid-column(12);
                @extend .expanded;
                @include breakpoint(medium) {
                     @include grid-column(3);
                }
            }
        }

        .progress__wrapper {
            height: 8px;
            margin-top: 8px;
        }

        [data-grid-layout="filters"] {
            padding: 0.5rem 0;

            span {
                @extend .label;
                background: $light-gray;
                color: $dark-gray;
                cursor: pointer;

                .material-icons {
                    vertical-align: middle;
                }

                i {
                    font-weight: bold;
                    font-style: normal;
                }
            }
        }

        [data-grid-layout="table"] {
            min-height: 480px;

            [data-grid-sort] {
                cursor: pointer;
                *cursor: hand;
                position: relative;

                &:after {
                    position: absolute;
                    right: 4px;
                    font-family: "Material Icons";
                    content: "\E164";
                    text-decoration: inherit;
                }

                &.asc:after {
                    content: ' \E5C7';
                }

                &.desc:after {
                    content: ' \E5C5';
                }
            }

            table {
                thead {
                    color: $dark-gray;
                }
            }
        }

        .data-grid__grid {
            min-height: 480px;
            padding: 0 1rem;

            nav {
                @extend .expanded;
                @extend .button-group;

                button {
                    @extend .secondary;
                    @extend .button;
                }
            }

            .card {
                background: $alabaster;

                .card-section {
                    text-align: center;

                    h4 {
                        color: $amber;
                        font-size: 2rem;
                    }

                    &:last-child {
                        color: $dark-gray;
                        font-size: 1.2rem;

                        span {
                            display: block;
                        }
                    }
                }
                @include breakpoint(medium) {
                    text-align: left;
                }
            }
        }

        [data-grid-layout="pagination"] {
            margin: 1rem 0;

            p {
                @include grid-column(12);
                margin: 0;
                padding: 1rem 0;
                text-align: center;
                @include breakpoint(medium) {
                    text-align: left;
                    @include grid-column(8);
                }
            }

            nav {
                @include grid-column(12);
                margin: 0;
                padding: 1rem 0;
                text-align: center;
                @include breakpoint(medium) {
                    text-align: left;
                    @include grid-column(4);
                }

                > div {
                    @extend .expanded;
                    @extend .button-group;

                    button {
                        @extend .expanded;
                        @extend .button;
                    }
                }
            }
        }
    }
}
