// Quickstart Application - Layouts
// Copyright 2011-2017, Cartalyst LLC
//--------------------------------------
//
// 1. Apricots
// 2. Crops

.example {
    @include grid-row;
    width: 100%;
    .tabs {
        position: relative;
        border:0;
        z-index: 1000;
        .tabs-title {
            a {
                font-size:rem-calc(16);

                &:hover {
                    color: $amber;
                }
                span {
                    @include show-for(medium);
                }
            }
        }
        .tabs-content {
            border:none;

            .tabs-panel {
                padding:0;
            }
        }
    }
}

// 1. Apricots
// --------------

.example--apricots {

    .data-grid {
        @include grid-column(12);
        background-color: $white;
        box-shadow: 0 3px 8px;

        > header {
            @include grid-row;
            border-bottom: 1px solid $light-gray;

            h3 {
                @include grid-column(12);
                margin: 0;
                padding: 1rem 0;
                text-align: center;
                @include breakpoint(medium) {
                    text-align: left;
                    @include grid-column(6);
                }

                span {
                    display: block;
                    font-size: 1rem;
                }
            }

            nav {
                @include grid-column(12);
                @extend .expanded;
                @extend .button-group;
                @extend .align-bottom;
                margin: 0;
                padding: 1rem 0;
                @include breakpoint(medium) {
                     @include grid-column(6);
                }

                button {
                    @extend .secondary;
                    @extend .button;
                }
            }
        }

        [data-grid-layout="results"] {
            min-height: 480px;

            .row {
                @include grid-row;
                padding: 1rem;

                &:nth-of-type(even) {
                    background: $light-gray;
                }

                div {
                    @include grid-column(4);

                    &:last-child {
                        text-align: right;
                    }
                }
            }
        }

        [data-grid-layout="pagination"] {
            margin: 1rem 0;

            button {
                @extend .expanded;
                @extend .large;
                @extend .button;
            }
        }
    }
}
