// Quickstart Application - Layouts
// Copyright 2011-2017, Cartalyst LLC
//--------------------------------------
//
// 1. Base
// 2. Page

// 1. Base Layout
// --------------
.base {
    &__header {
        .title-bar {
            display: inline-block;
        }

        .top-bar {
            .menu {
                li {
                    a {
                        color: $white;
                        border-bottom:2px solid transparent;

                        &:active,
                        &:hover {
                            transition: 0.3s;
                            color: $white;
                            border-bottom:2px solid $white;
                        }

                        &:focus {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    &__footer {
        @include flex-grid-row;
        @extend .align-middle;
        padding: 1rem 0;
        border-top:1px solid $light-gray;
        text-align: center;
        @include breakpoint(medium) {
            text-align: left;
        }

        .mark {
            @include flex-grid-column(12);
            @include breakpoint(medium) {
                 @include flex-grid-column(1);
            }
        }

        .copyright {
            @include flex-grid-column(12);
            @include breakpoint(medium) {
                 @include flex-grid-column(11);
            }

            small {
                display: block;
            }
        }
    }
}
// 2. Layout
// --------------
.layout {

    &__header {
        min-height: 256px;
        width: auto;
        background: $amber;
        padding-bottom:64px;

        > .row {
            @include flex-grid-row;
            @extend .align-middle;
            text-align: center;

            @include breakpoint(medium) {
                text-align: left;
            }
        }

        .tagline {
            font-size: rem-calc(28);
            font-weight: 300;
            color: $white;
            margin-bottom:1rem;
        }

        h1 {
            font-size: 3rem;
            font-weight: 200;
            color: $white;
            margin:0.5rem 0 0;
        }

        .call-to-action {
            background: transparent;
            color: $white;
            border-color: $white;

            &:active,
            &:hover {
                color: $amber;
                background: $white;
                border-color: $white;
            }

            &:focus {
                color: $white;
                background: transparent;
            }
        }

        .mascot {
            position: relative;
            bottom:-64px;
            text-align: center;
        }

        .preview {
            height: 48px;
            margin-bottom: 2px;

            div {
                width:100%;
                background: $alabaster;
                display: none;
                padding: 8px;

                .hljs {
                    padding: 4px;
                    //margin: 4px;
                    background: transparent;
                }
            }
        }

    }

    &__body {
        min-height: 320px;
    }

}

.page {
    @include flex-grid-row;
    position: relative;
    top:-48px;
}

// 2. Section
// --------------
.section {
    width: 100%;
    margin-bottom:2rem;
    &--box {
        background-color: $white;
        box-shadow: 0 3px 8px;
    }
}
