// Demo Application - Layouts
// Copyright 2011-2017, Cartalyst LLC
//--------------------------------------
//
// 1. Base
// 2. Page
// 1. Page
// --------------

.base {
    &__header {
        background-color: $amber;
        border-bottom: 1px solid lighten($amber-dark, 5%);

        .title-bar {
            background-color: $amber-dark;
        }

        .top-bar {
            @include flex-grid-row;

            .top-bar-right {
                .menu {
                    @include flex-align(center, middle);
                    @include breakpoint(medium) {
                         @include flex-align(right, middle);
                    }
                }
            }

            li {
                a {
                    color: $white;
                    border-bottom: 2px solid transparent;
                    @include disable-mouse-outline;

                    &:active,
                    &:hover {
                        transition: 0.3s;
                        color: $white;
                        border-bottom: 2px solid $white;
                    }

                    &:focus {
                        color: $white;
                    }
                }
            }
        }
    }

    &__footer {
        @include flex-grid-row;
        @extend .align-middle;
        padding: 1rem 0;
        border-top: 1px solid $light-gray;
        text-align: center;
        @include breakpoint(medium) {
            text-align: left;
        }

        .mark {
            @include flex-grid-column(12);
            @include breakpoint(medium) {
                 @include flex-grid-column(1);
            }
        }

        .copyright {
            @include flex-grid-column(12);
            @include breakpoint(medium) {
                 @include flex-grid-column(11);
            }

            small {
                display: block;
            }
        }
    }
}
// 2. Page
// --------------

.page {
    &__header {
        background: $amber;
        text-align: center;
        padding-bottom: 64px;
        @include breakpoint(medium) {
            text-align: left;
        }

        > .example,
        > .tutorial {
            min-height: 320px;

            .call-to-action {
                margin: 0 auto;
            }
        }

        h1 {
            font-size: 4rem;
            font-weight: 300;
            color: $white;
            margin: 0.5rem 0 0;
        }

        .tagline {
            font-size: rem-calc(28);
            font-weight: 300;
            color: $white;
            margin-bottom: 0.5rem;
        }

        .call-to-action {
            text-align: center;
            @include flex-align-self(top);
            @include breakpoint(medium) {
                 @include flex-align-self(middle);
            }

            .button {
                @include box_shadow;
                background: $white;
                color: $dark-gray;
                border-color: $amber-dark;
                margin: 0 auto;
                width: 60%;

                &:active,
                &:hover {
                    color: $amber;
                    background: $white;
                    border-color: $amber;
                }

                &:focus {
                    color: $white;
                    background: transparent;
                }
            }
        }

        .preview {
            @include grid-row;

            .column {
                @include grid-column(12);

                div {
                    background: $alabaster;
                    overflow-x: scroll;
                    padding: 0.5rem 0;
                    @include breakpoint(large) {
                        overflow-x: hidden;
                    }

                    .hljs {
                        color: $dark-gray;
                        background: transparent;

                        &:before {
                            display: inline-block;
                            content: "\E7F4";
                            font-family: "Material Icons";
                            padding: 0 1rem 0 0.5rem;
                            color: $amber-dark;
                            font-size: 1.2rem;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }

    &__body {
        position: relative;
        top: -64px;
        min-height: 320px;
    }
}
