// Demo Application - Layouts
// Copyright 2011-2017, Cartalyst LLC
//--------------------------------------
//
// 1. Tutorials

.tutorial {
    .tabs {
        position: relative;
        background: $white;

        .tabs-title {
            border-right: 1px solid $medium-gray;

            a {
                font-size: rem-calc(16);

                &:hover {
                    color: $amber;
                }

                span {
                    @include show-for(medium);
                }
            }
        }

        .tabs-content {
            border: none;

            .tabs-panel {
                padding: 0;
            }
        }
    }
}
