// Quickstart Application - Layouts
// Copyright 2011-2017, Cartalyst LLC
//--------------------------------------
//
// 1. Apricots
// 2. Crops


// 1. Apricots
// --------------


    .tabs {
            position: relative;
            border:0;
            .tabs-title {
                a {
                    font-size:rem-calc(16);

                    &:hover {
                        color: $amber;
                    }
                    span {
                        @include show-for(medium);
                    }
                }
            }
            .tabs-content {
                border:none;

                .tabs-panel {
                    padding:0;
                }
            }
        }
    }
