body,html{
	width:100%;
	height:100%;
	overflow: hidden;
}

h1{
	color:#faf8f2;
	font-weight:500;
	margin-bottom: 24px;
	font-size: 36px;
	line-height: 36px;
}

.frame-synopsis{
	width:25%;
	height:100%;
	padding:50px 20px 20px 20px;
	float:left;

	text-align: center;

	overflow: auto;
	background:#64163f;
	border-right:1px solid #64163f;

	position: relative;
}
.frame-synopsis hr {
	border-top:1px solid #a72568;
	border-bottom:1px solid #531033;
	height:2px;
	margin:20px 0;
}

.frame-synopsis a:link              { color:#a72568; text-decoration:underline; }
.frame-synopsis a:visited           { color:#a72568; text-decoration:underline; }
.frame-synopsis a:hover             { color:#f7f7f7; text-decoration:underline; }
.frame-synopsis a:active            { color:#a72568; text-decoration:underline; }

.frame-synopsis p{

	color:#f7f7f7;
	line-height: 26px;
	font-size:20px;
	margin:20px 0;
}


.frame-synopsis strong{
	letter-spacing: 1px;
}

.frame-synopsis pre{
	margin:0 -20px 0 -20px;
	padding:10px;
	background:#64163f;
	color:#faf8f2;
}

.frame-synopsis .documentation {
	font-size:16px;
	line-height: 26px;
}

.frame-synopsis .requirements {
	font-size:12px;
}

.frame-synopsis .menu{
	display:inline-block;
	margin-bottom:24px;

	list-style: none;
	font-size: 0;
	text-align: center;

	background:#64163f;
	border-radius: 4px;
	border:1px solid #4d0e2f;

}

.frame-synopsis .menu li{
	display:inline-block;
}

.frame-synopsis .menu li:first-child{
	border-right:1px solid #64163f;
}
.frame-synopsis .menu li:last-child{
	border-left:1px solid #a72568;
}

.frame-synopsis .menu li a{
	display:inline-block;
	padding:8px 10px;

	font-size:14px;
	text-align: center;
	text-decoration: none;
	color:#faf8f2;

}

.frame-synopsis .menu li:first-child a.active{
	background:#a72568;
	color:#fff;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.frame-synopsis .menu li:last-child a.active{
	background:#a72568;
	color:#fff;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}







.settings{
	margin-top:-15px;
	margin-bottom:24px;
	text-align: center;
	float:right;
}
.settings label{
	display:inline-block;
	margin-bottom:8px;
	color:#443e40;
}

.settings input{
	width:80px;
	padding:8px;

	font-size: 16px;
	text-align: center;

	border:1px solid #ccc;
	border-radius: 4px;
}

.settings .disabled{
	background-color:#f7f7f7;
	color:#999;
}

.frame-content{
	width:75%;
	height:100%;
	padding:50px 20px 20px 20px;
	float:left;

	overflow: auto;
}

.frame-content h1{
	color:#443e40;
	float:left;
	display:inline-block;
}
